name: Flutter Lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.6'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: |
          cd extras/webClient
          dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: |
          cd extras/webClient
          dart analyze --fatal-infos
